.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px auto 36px;
  padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
  .header {
    position: relative;
    z-index: 1;
    margin: 0 auto 38px;
    padding: 28px 0 31px 0;
    background-color: black;
    border-top: 1px solid rgba(84, 84, 84, 0.7);
  }
}
